<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Twitter Bot Finder</title>
    <meta name="description" content="DESCRIPTION">
   <link rel="stylesheet" href="PATH">

    <!--[if lt IE 9]>
      <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
 <p>
   Buscando la palabra {{query}}. Con una cuenta de {{count}} tweets.
 </p>
 <p>
   Aqui los usuarios encontrados:
   {{#each filteredUsers}}
   <li>{{@key}}</li>
   {{/each}}
 </p>
</body>

</html>
